{% extends 'base.html' %}

{% block title %}Home - Hypertension Projection {% endblock %}

{% block hero_title %}Welcome to HyperPredict!{% endblock %}
{% block hero_description %}Your personalized hypertension risk prediction system powered by machine learning.{% endblock %}

{% block content %}
<div class="section-card" id="about">
    <h2>📘 About HyperPredict</h2>
    <p>
        HyperPredict is an innovative platform that utilizes Machine Learning algorithms to predict the risk of hypertension.
    </p>
</div>
{% endblock %}
